.notifications-container {
    font-size: 16px;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 4px solid #ccc;
    border-top: none;
    border-left: none;
    background: #fff;
    opacity: 0.8;
    min-height: 50px;
    min-width: 500px;
    max-height: 400px;
    overflow: auto;
    -moz-transition: left 1s ease-in-out;
    -webkit-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
    margin: 0;
    padding: 0;
}
.notifications-container-hidden { left: -1000px }

.notifications-item {
    overflow: hidden;
    height: 2em;
    -moz-transition: height 0.5s ease-in;
    -webkit-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    -ms-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}
.notifications-item-hidden {
    height: 0px;
}
.notifications-item-content {
    margin: 0.5em;
}

.notifications-item-message { padding-left: 20px; background: transparent none center left no-repeat }
.notifications-item-level-info { color: blue }
.notifications-item-level-info .notifications-item-message { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAp5JREFUeNpkU01IVFEU/t6972fG1JHGrLBso2WRSAshonIjFrZQ27QoEQza6K6gXYS0KKhWuijIjbZw0xhRoEagUhRWUIJSWuL4A44OzDjhjOO89zrnzjwZ68Jh5pzvO+d857x7NfxzSq+Fem3b7XBd1+eSr7FpWkpKrW99oLUzn0schauzr22o0dC04ca6cpyrKUMw4CMGJwPr8RQmpiIYmVzGtuteWOtvGdlVgJP3B6zhW1dqEEvZeDcTxczKH2xuOQj4JY4dLER99V6U+CQeDk5hNb6linABwQV06tzdfgqf5hN4Nr6EudUkuluqsPS4Hjap+L2WRN/EssKZx3xPuc4zd1ysxNivOL6E4yj060hnHAiRnc5nSewxpfrPuGkKMP+JE+qlUKdwHOd6+YEAvi4kiGjAZ+jK7r2ex8k7H+E3dVjk8y/jzGM+52XVQ7PC8TT8hlBdaSxkSPf3u6dV17P3P8OUWhYj33BcMJ/zGBe85XgqA8vSYRoSBhtJHpyMqAJCl9BzccaZx3wt9/1YAQVski1Ud2pAi3OhS7VfmLpQJnM7yTa0WYFXwE07tmNaNB/NlS1AoJdg5jp7vhACmQwpoDzlO6no0MpKDAW0bR+TVUdtRyLPSLdQxRlnHvM5D7mbWlF69cVCU8MJFBVZ2KZP2FQdQHNtcOfKtg/MqmSDiiQSW3jzdhrrzy8foYsU1gkPZxbfd42OyZ5LDcdRTEVG5xJ4NR1Tl4iao9hv0BgCG5Q8OvYDzOc8TwGf4pLzN9vkoTM9dbWHcbSyDEUFJrzHlNhM4+dcBJPfFmEvfeiKjT/qp/DGrsfERciqgq1Pb2v+YDMt0/QA2l/aTUZfRkM3HpA7y8n/vca8U0HGCxB5MYcs6snOf85/BRgAU2QTxLlxCL0AAAAASUVORK5CYII=) }
.notifications-item-level-error { color: red }
.notifications-item-level-error .notifications-item-message { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTM5jWRgMAAAAVdEVYdENyZWF0aW9uIFRpbWUAMi8xNy8wOCCcqlgAAAQRdEVYdFhNTDpjb20uYWRvYmUueG1wADw/eHBhY2tldCBiZWdpbj0iICAgIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+Cjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDQuMS1jMDM0IDQ2LjI3Mjk3NiwgU2F0IEphbiAyNyAyMDA3IDIyOjExOjQxICAgICAgICAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp4YXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iPgogICAgICAgICA8eGFwOkNyZWF0b3JUb29sPkFkb2JlIEZpcmV3b3JrcyBDUzM8L3hhcDpDcmVhdG9yVG9vbD4KICAgICAgICAgPHhhcDpDcmVhdGVEYXRlPjIwMDgtMDItMTdUMDI6MzY6NDVaPC94YXA6Q3JlYXRlRGF0ZT4KICAgICAgICAgPHhhcDpNb2RpZnlEYXRlPjIwMDgtMDMtMjRUMTk6MDA6NDJaPC94YXA6TW9kaWZ5RGF0ZT4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyI+CiAgICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2UvcG5nPC9kYzpmb3JtYXQ+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDUdUmQAAAD5SURBVDiNpZMxagMxEEWfgiCXcB3IbXwD7zbaM0nNyjdIl1O4Dk7pbsslEFbEZFKsJsiJrGDy4YM0M//zRyAoINAJyB8cS43RwwIdMFrvaeE8DADxXqQ3Jstn6GaQ5L3M0GQxsyaZoJtA3r2XCS6o+FkvZkdOIG/eywl+UVHrqcYm4BNIjb1rPdXYBTivj3gVtZ5q/p8gAfPhcLOBamzKcW41UI1dgA/qez4bU6muUE0zwVYEgKeKkWruEnTHENg4R8pFZblCyY1zHEMgQTQAe9gB8cE5XkO4GhugmIk76L+z+Wzy6FzT4CWLXf5MF8upSdMB4gC9Xr4AiezTJHGxdq0AAAAASUVORK5CYII=) }
.notifications-item-level-success { color: green }
.notifications-item-level-success .notifications-item-message { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAANkE3LLaAgAAAjFJREFUeJylkk9IUwEcx7/vz55vf2rTuVwrcDabq3XIQ9Mgg2C0tAgKlkVaHaRBSEXeog5dFgWJRB6EBgVBB1dUaLMg2wLZwVUEyyiypKHN5eb2ntve5tt7XVLEk7PP/cOP7/f7A/4TqmxDi21goUUB6fUcrHHfcb5v8+4dB2AoT62G1eM79iUt/pGncz/lU/dcE4wetuUIjBE7SkrokENqtas00009/e6R7sPX6ng+A1KmoDHCEJ4da6ABQFNHt3T1HhkWFvnCw55Qaz4mRpZkQyN16FJvu/+g7bQ6Pj8FkqARjb1D/2sfZj7kf1P6RuboudvOIdfO4yqL0ara1JLrmIz+Gs/G5R8Wp6rzyl23f7dpP5PJzaFQ4vEpGcCDN4P4/Ih7LkZFD7X9pGZQVy+Y8nkOJCmjVm9R1O6j2pXm7K6Oi67rWzVWghMSWCgl8D37Fk+DYXwcyPjEb2IngDyhsCoGHB7t+QY7A1qiUamqgk6ph4IFKKkCgsgjJ6YgUwKCozzCfcmbpXjp6lJESkpKr2a+FqoqrUqHpV4BQVpAEUkIYhJ5KYFFMo0NahbBgITQrenL8pzkXVkwBUCSM/LLWLQg19irD9isahBkESxDooIlYNpoweiLYmHEO3EWGfn+6oWWZ5Q4KTQZSSc227e02m0GAhQHs9aBwJP5lP9GxA0Oz9b0L6yJPNH9uJkfnr0gn+lrnoISTWsSV6IyUm17urRDUMBetvwPAoB5vXJZ/AVGuNYcpJFHTwAAAABJRU5ErkJggg==) }

.notifications-item-date {
    font-family: monospace;
    padding-right: 1em;
}

/* Drupal */
body.toolbar .notifications-container { top: 30px }
body.toolbar-drawer .notifications-container { top: 65px }
